.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background: url(img/Background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
}
header{
    width: 50%;
    margin: 20px auto 20px auto;
    border: 0..1px solid rgb(255, 255, 255);
    text-align: center;
    padding: 14px;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.425);
    background-color: rgba(88, 88, 88, 0.507);
    backdrop-filter: blur(10px);
    position: fixed; 
    left: 25%;
    
}
header a{
    text-decoration: none;
    color: white;
    padding: 5px 20px 5px 20px;
    margin: 0px 20px 0px 20px;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    transition: 0.2s ease-in;
}
header a:hover{
    background-color: rgb(43, 110, 255);
    color: rgb(255, 255, 255);
}
section{
    padding: 100px 150px;
}
.landingHome{
    width: 100%;
    height: 100vh;
}
.landingHome h2{
    font-size: 65px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-top: 100px;
    color: white;
    height: 320px;
}
.landingHome h2 span{
    font-size: 100px;
    transition: 0.2s ease;
}

.landingHome h2 span:hover{
    color: blue;
    font-size: 105px;
}
.landingHome h3{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: white;
    text-decoration: underline;
    font-style: italic;
}
.view-btn{
    text-align: center;
    margin-top: 65px;
    transition: 0.3s ease;
}
.view-btn a{
    background-color: rgb(0, 81, 255);
    color: white;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}
.view-btn:hover{
    transform: scale(1.1);
}
.social-icons{
    height: 100px;
    margin-top: 40px;
    text-align: center;
}
.social-icons a{
    color: white;
    font-size: 30px;
    padding: 0 10px 0 10px;
    transition: 0.2 ease;
}
.social-icons a:hover{
    color: rgb(43, 110, 255);
    transform: scale(1.2);

}
.aboutContent{
    width: 100%;
    height: 100vh;
    overflow: auto;
}
.aboutContent h2{
    font-size: 50px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-bottom: 50px;
}
.paragraph{
    float: left;
    width: 50%;
    overflow: auto;
}
.p1, .p2, .p3, .p4{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    color: white;
    width: 80%;
    float: left;
    margin: 20px;
    padding: 10px 0 10px 0;
}
.photo{
    float: right;
}
.photo img{
    border-radius: 50px;
    width: 410;
}
.skillContent{
    width: 100%;
    height: 100vh;
    overflow: auto;
}
.skillContent h2{
    font-size: 50px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-bottom: 50px;
}
.skillcontainer{
    width: 100%;
    overflow: auto;
}
.skill{
    float: left;
    border: 2px solid transparent;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    margin: 48px;
    text-align: center;
    padding: 50px;
    transition: 0.2s ease;
}
.skill:hover{
    background-color: rgb(43, 110, 255);
    transform: scale(1.2);
}
.skillcontainer i{
    font-size: 80px;
    color: white;
    padding-bottom: 15px;
}
.skillcontainer p{
    font-size: 22px;
    color: white;
    font-family: "Roboto", sans-serif;
}
.note{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-top: 50px;
}
.projectContent{
    border: 10px solid transparent;
    width: 100%;
    height: 100vh;
    overflow: auto;
}
.projectContent h2{
    font-size: 50px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-bottom: 30px;
}
.projectCard{
    float: left;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.37);
    width: 28.8%;
    height: 34%;
    margin: 20px 20px 20px 43px;
    border-radius: 20px;
    transition: 0.2s ease;
}
.projectPhoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.projectCard:hover{
    transform: scale(1.1);
}
.usedLang{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    overflow: auto;
}
.usedLang p{
    float: left;
    padding: 0 20px 0 20px;
    margin: 10px ;
    background-color: rgb(43, 110, 255);
    border-radius: 25px;
}
.projectInfo h3{
    margin-left: 15px;
    color: aliceblue;
}
.contactContent{
    border: 10px solid transparent;
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
}
.contactContent h2{
    font-size: 50px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-bottom: 30px;
}
.contactForm{
    border: 10px solid transparent;
    width: 50%;
    margin: auto;
    
}
.contactForm p{
    color: aliceblue;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}
.contactForm form{
    width: 60%;
    border: 10px solid transparent;
    border-radius: 20px;
    margin-top: 20px;
    margin: auto;
    background-color: rgb(0, 33, 104);
    padding-bottom: 15px;
}
input[type="text"], input[type="email"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(0, 12, 22);
}
form label{
    color: aliceblue;
    font-size: 25px;
}
.nameField, .emailField, .textareaField{
    padding: 20px;
}
textarea{
    width: 100%;
    max-width: 100%;
    max-height: 50px;
    background-color: rgb(0, 12, 22);
    border-radius: 10px;
    color: white !important;
    padding: 20px;
}
input[type="button"]{
    width: 200px;
    padding: 12px 0px;
    margin-left: 120px;
    display: inline-block;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(0, 12, 22);
    transition: 0.2s ease;
}
input[type="button"]:hover{
    background-color: rgb(43, 110, 255);
}


@media (max-width: 430px){
    html{
        width: fit-content;
        background-color: rgb(0, 12, 22);
    }
    body{
        font-family: 'Roboto', sans-serif;
        width: 100%;
        font-family: "Roboto", sans-serif;
        background-color: rgb(0, 12, 22);
        background: url(img/BackgroundMobile.jpg);
        background-size:cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .header{
        width: 90%;
        margin: 20px auto 20px auto;
        position: fixed;
        display: contents;
    }

    nav{
        width: 90%;
        height: 30px;
        margin: 20px;
        border: 0.5px solid rgba(255, 255, 255, 0.199);
        border-radius: 50px;
        background-color: rgb(0, 27, 49);
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        position: fixed;
        top: 0%;
        left: 0%;
        transition: 0.2s ease;
    }

    header a{
        text-decoration: none;
        color: white;
        padding: 1px 5px 1px 5px;
        margin: 0px 5px 0px 5px;
        border-radius: 50px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        transition: 0.2s ease-in;
    }

    hr{
        display: none;
    }

    section{
        padding: 0px 0px;
    }

    .landingHome{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .landingHome h2{
        font-size: 25px;
        font-family: "Roboto", sans-serif;
        text-align: center;
        width: 100%;
        padding: 0;
        height: fit-content;
        /* margin-top: 100px; */
        color: white;
        border: 2px solid transparent;
    }
    .landingHome h2 span{
        font-size: 50px;
        transition: 0.2s ease;
    }
    
    .landingHome h3{
        font-size: 30px;
        font-family: "Roboto", sans-serif;
        text-align: center;
        color: white;
        text-decoration: underline;
        font-style: italic;
    }
    .view-btn{
        text-align: center;
        margin-top: 65px;
        transition: 0.3s ease;
    }
    .view-btn a{
        background-color: rgb(0, 81, 255);
        color: white;
        text-decoration: none;
        padding: 10px 40px 10px 40px;
        border-radius: 50px;
        font-family: "Roboto", sans-serif;
        font-size: 30px;
    }
    
    .social-icons{
        height: 50px;
        margin-top: 40px;
        text-align: center;
    }
    .social-icons a{
        color: white;
        font-size: 30px;
        padding: 0 10px 0 10px;
        transition: 0.2 ease;
    }
    
    .aboutContent{
        width: 100%;
        height: fit-content;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutContent h2{
        font-size: 40px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        color: white;
        margin-bottom: 0px;
    }
    .paragraph{
        float: left;
        width: 100%;
        overflow: auto;
    }
    .p1, .p2, .p3, .p4{
        font-size: 20px;
        letter-spacing: 1px;
        font-family: "Roboto", sans-serif;
        color: white;
        width: 90%;
        float: left;
        margin: 20px;
        padding: 10px 0 10px 0;
    }
    .photo{
        width: 300px;
        
    }
    .photo img{
        border-radius: 50px;
        width: 300px;
    }

    .skillContent{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skillContent h2{
        font-size: 50px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        color: white;

        margin: 50px 0 0 0;
    }
    .skillcontainer{
        width: 410px;
        display: flex;
        flex-direction: row;
        /* justify-content: center;
        align-items: center; */
    }
    .skill{
        border: 2px solid transparent;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 20px;
        margin: 10px;
        text-align: center;
        padding: 50px;
        transition: 0.2s ease;
    }

    .skill:hover{
        background-color: transparent;
        transform: scale(1.0);
    }

    
    .skillcontainer i{
        font-size: 80px;
        color: white;
        padding-bottom: 15px;
    }
    .skillcontainer p{
        font-size: 22px;
        color: white;
        font-family: "Roboto", sans-serif;
    }
    .note{
        width: 90%;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        margin-top: 50px;
    }

    .projectContent{
        border: 10px solid transparent;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .projectContent h2{
        font-size: 50px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        color: white;
        margin: 30px;
        
    }
    .projectCard{
        border: 1px solid rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.37);
        width: 85%;
        height: fit-content;
        margin: 0;
        border-radius: 20px;
        padding-bottom: 10px;
        transition: 0.2s ease;
    }

    .projectCard:hover{
        transform: scale(1.0);
    }

    .projectPhoto img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .usedLang{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        overflow: auto;
    }
    .usedLang p{
        float: left;
        padding: 0 20px 0 20px;
        margin: 10px ;
        background-color: rgb(43, 110, 255);
        border-radius: 25px;
    }
    .projectInfo h3{
        margin-left: 15px;
        color: aliceblue;
    }

    .contactContent{
        border: 10px solid transparent;
        width: 100%;
        height: 100vh;
    }
    .contactContent h2{
        font-size: 30px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        color: white;
        margin: 30px 0;
    }
    .contactForm{
        border: 10px solid transparent;
        width: 100%;
        margin: auto;
    }
    .contactForm p{
        color: aliceblue;
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
        width: 100%;
    }

    .nameField, .emailField, .textareaField{
        padding: 10px 10px 0 10px !important;
        width: 313px !important;
    }
    .contactForm form{
        width: 90%;
        border: 10px solid transparent;
        border-radius: 20px;
        margin-top: 10px;
        margin: auto;
        background-color: rgb(0, 33, 104);
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input[type="text"], input[type="email"]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 0;
        box-sizing: border-box;
        border-radius: 10px;
        color: aliceblue;
        background-color: rgb(0, 12, 22);
    }
    form label{
        color: aliceblue;
        font-size: 25px;
        padding: 10px;
    }

    .textareaField{
        width: 330px;
    }


    textarea{
        width: 100%;
        max-width: 100%;
        background-color: rgb(0, 12, 22);
        border-radius: 10px;
        height: 50px;
        margin: 10px 0 10px 0;
        padding: 10px;
        color: white !important;
    }

    input[type="button"]{
        width: 200px;
        padding: 12px 0px;
        display: inline-block;
        border: 0;
        box-sizing: border-box;
        border-radius: 10px;
        color: aliceblue;
        background-color: rgb(0, 12, 22);
        margin: auto;
    }

    .footer{
        width: 100%;
        height: fit-content;
        background-color: rgb(0, 12, 22);
        border: 2px solid transparent;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .footer p{
        color: aliceblue;
        width: 100%;
        font-size: 14px;
        text-align: center;
        margin: 0;
        border: 2px solid transparent;
    }
    
}
